<div class="bg-white drop-shadow px-6 py-4">
    {# Add To-do Form #}
    <div>
        {# Header #}
        <div class="flex items-end justify-between">
            <div class="text-2xl font-semibold">Create Todo</div>
            <div class="">
                <a href="{% url 'todos:all_todos' %}"
                   class="text-indigo-500 hover:text-amber-800 transition duration-100">View all Todos</a>
            </div>
        </div>
        <hr class="mt-2 mb-4 border-gray-200">

        {# Form #}
        <form action="{% url 'todos:create_todo' %}" method="post" class="ml-2">
            {% csrf_token %}
            {#  Title #}
            <div class="mb-2">
                <label for="todoTitle" class="block text-sm font-medium">Title:</label>
                <input type="text" name="title" id="todoTitle" class="block py-1 w-full border-gray-300" required>
            </div>

            {#  Duration #}
            <div class="mb-2">
                <label for="todoDescription" class="block text-sm font-medium">Description:</label>
                <textarea name="description" id="todoDescription" cols="30" rows="3" required
                          class="block border-gray-300 w-full resize-none"></textarea>
            </div>

            {# Deadline #}
            <div class="mb-2">
                <label for="todoDeadline" class="block text-sm font-medium">Deadline:</label>
                <input type="date" name="deadline" id="todoDeadline" class="block py-1 w-full border-gray-300" required
                       value="{{ today|date:'Y-m-d' }}">
            </div>

            {# Project #}
            <div class="mb-2">
                <label for="todoProject" class="block text-sm font-medium">
                    Project:
                </label>

                <select name="project" id="todoProject"
                        class="w-full border-gray-300">
                    <option value="">Select a Project</option>
                    {% for project in projects %}
                        <option value="{{ project.id }}">{{ project.title }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mt-2">
                <button type="submit"
                        class="inline-block bg-blue-500 px-5 py-2 text-sm font-medium text-white">
                    Create New Todo
                </button>
            </div>

        </form>
    </div>
</div>